# Gradle and Build Cache
.gradle/
build/
app/build/
local.properties

# IDE & Editor
.idea/
*.iml
.vscode/

# Output Packages & Dist
*.apk
*.aab
release_dist/

# Signing & Secrets (Local only)
*.jks
*.keystore
keystore.properties
!keystore.properties.example

# OS & Logs
.DS_Store
Thumbs.db
*.log

# 根目录测试音视频大文件
/*.mp4
/*.webm



